/* Css file for login form */

*{
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('../resources/images/loginBackground.jpg') ;
  background-size: cover;
  overflow: hidden;
}

.loginFormContainer{
  text-align: center;
  background: white;
  margin: auto;
  margin-top: 10vh;
  padding-top: 4vh;
  padding-bottom: 6vh;
  padding-right: 4vw;
  padding-left: 4vw;
  width: 330px;
  border: 10px solid rgba(100, 0, 250, 0.2);
}

.loginFormContainer form{
  margin-top: 40px;
}



.loginFormContainer form input[type=text], .loginFormContainer form input[type=password]{
  width: 95%;
  margin: 5px;
  display: block;
  height: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  font-size: calc(0.5rem + 10px);
}

.loginFormContainer form input[type=submit]{
  margin: 1%;
  margin-top: 25px;
  width: 98%;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  background: #8075B6;
  transition: background .3s;
  font-family: 'Bitter', serif;
  font-size: 18px;
}

.loginFormContainer input:not([type="submit"]):focus{
  border-bottom: 1px solid black;
}

.loginFormContainer input[type=submit]:hover{
  cursor: pointer;
  background: #8785B6;
}


/* Screen sizes less than 600px */
@media only screen and (max-width: 600px) {


  .loginFormContainer{
    margin-top: 10vh;
    width: 250px;
  }

  .loginFormContainer form input[type=text], .loginFormContainer form input[type=password]{
    width: 220px;
  }

  .loginFormContainer form input[type=submit]{
    width: 235px;
  }
}
